{% extends "base.html" %}

{% block title %}その他{% endblock %}

{% block content %}
<article>
    <hgroup>
        <h1>その他</h1>
        <p>各種設定やアカウント情報はこちらから</p>
    </hgroup>

    <nav>
        <ul>
            <li><a href="{{ url_for('main.settings', user_id=user.id) }}"><strong>アカウント設定</strong><br><small>ユーザー名や志望校、学習科目の変更</small></a></li>
            {% if user.is_admin %}
            <li><a href="{{ url_for('main.admin_exams') }}"><strong>管理者ページ</strong><br><small>模試情報の管理</small></a></li>
            {% endif %}
            <li><a href="{{ url_for('main.logout') }}"><strong>ログアウト</strong></a></li>
        </ul>
    </nav>
</article>
{% endblock %}